<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>CoffeeHouse-Admin</title>
    <link rel="icon" type="image/x-icon" href="~/images_icon/logo/logo1.png">
    <link rel="icon" type="image/x-icon" href="~/images_icon/logo/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark" style="background-color: #090c0f !important;">
        <partial name="Header" />
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <partial name="LeftNav" />
        </div>
        <div id="layoutSidenav_content">
            <main>
                @RenderBody()
            </main>
            <footer class="py-4 bg-light mt-auto">
                <partial name="Footer" />
            </footer>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="~/js/datatables-simple-demo.js"></script>
    <script>
        // Đoạn mã JavaScript
        function ShowImage(imageUpload, previewImage) {
            if (imageUpload.files && imageUpload.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    // Đặt đường dẫn hình ảnh trước (preview image) thành giá trị của e.target.result
                    $(previewImage).attr('src', e.target.result);
                };
                reader.readAsDataURL(imageUpload.files[0]);
            }
        }
    </script>

    <script>
        $(document).ready(function () {
            $(document).on("click", ".datatable-pagination-list-item-link", function (e) {
                e.preventDefault();
                var url = $(this).attr("href");

                $.ajax({
                    url: url,
                    type: "GET",
                    dataType: "html",
                    success: function (data) {
                        var content = $(data).find("#content");
                        $("#content").html(content);
                    },
                    error: function () {
                        alert("Đã xảy ra lỗi.");
                    }
                });
            });
        });

    </script>

</body>
</html>
