@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Category>
<div class="shop-widget">
    <h4 class="shop-title">Category</h4>
    <ul>
        @foreach(var item in Model)
        {
            <li>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="cat1">
                    <a class="form-check-label" style="text-decoration: none" for="cat1" 
                    asp-controller="Shop" asp-action="ShopProducts" asp-route-id="@item.IdCategory"> @item.Name</a>
                </div>
            </li>
        }
    </ul>
</div>