@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model Products
<div class="ms-2 mx-2">
    <h1 style="margin-top: 50px; text-align: center">Create</h1>
    <div asp-validation-summary="All" class="text-danger"></div>
    <form asp-controller="Products" asp-action="Create" method="post" asp-route-id="@Model.IdProduct" enctype="multipart/form-data" style="width: 60%;
        margin: 0 auto; padding-top: 30px">
        <div style="margin-top:10px" class="form-group row">
            <label asp-for="IdProduct" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="IdProduct" class="form-control" placeholder="Id">
            </div>
            <span asp-validation-for="IdProduct" class="text-danger"></span>
        </div>
        <div style="margin-top:10px" class="form-group row">
            <label asp-for="Name" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Name" class="form-control" placeholder="FullName">
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div style="margin-top:7px" class="form-group row">
            <label asp-for="Category" class="col-sm-2 col-form-label"></label> <div class="col-sm-10">
                <select asp-for="IdCategory" class="custom-select mr-sm-2"
                        asp-items="@ViewBag. IdCategory"></select>

            </div>
            <span asp-validation-for="IdCategory" class="text-danger"></span>
        </div>
        <div style="margin-top:10px" class="form-group row">
            <label asp-for="Price" class="col-sm-2 col-form-label"></label> <div class="col-sm-10">
                <input asp-for="Price" class="form-control" placeholder="Price">
            </div>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div style="margin-top:10px" class="form-group row">
            <label asp-for="Image" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <img src="@Url.Content(Model.Image)" style="height: 200px; width: 200px; margin: 10px" id="previewImage" />
                <input type="file" name="ImageUpload" onchange="ShowImage(this, document.getElementById('previewImage'))" />
                <input asp-for="Image" class="form-control" placeholder="Image">
            </div>
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <div style="margin-top:10px" class="form-group row">
            <div class="col-sm-10" style="padding: 20px 0">
                <button type="submit" class="btn btn-primary" style="padding: 10px 40px">Create</button>
            </div>
        </div>
    </form>
</div> 