
@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcumb" style="background: url(/images_icon/about_us/breadcumb.jpg);">
    <h2 class="breadcumb-title">Our Menu</h2>
</div>

<div class="menu py-120" style="background-image: url(/images_icon/menu/background/bg.jpeg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="text-heading text-center">
                    <span class="text-title-tagline">Our Menu</span>
                    <h2 class="text-title">Let's Check Our Menu</h2>
                </div>
            </div>
        </div>
        <div class="menu-content">
            <div class="row">
                <div class="col-lg-6">
                    <div class="menu-item">
                        <div class="menu-item-content">
                            <div class="menu-img">
                                <img src="~/images_icon/menu/list_menu/mn1.jpg" alt="">
                            </div>
                            <div class="menu-info">
                                <h5>Espresso</h5>
                                <p class="margin-btm pcolor">Mixed by giving water under high pressure</p>
                            </div>
                        </div>
                        <div class="menu-price">$50.25</div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="menu-item">
                        <div class="menu-item-content">
                            <div class="menu-img">
                                <img src="~/images_icon/menu/list_menu/mn2.jpg" alt="">
                            </div>
                            <div class="menu-info">
                                <h5>Latte Macchiato</h5>
                                <p class="margin-btm pcolor">Latte is like milk coffee but sweeter</p>
                            </div>
                        </div>
                        <div class="menu-price">$50.25</div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="menu-item">
                        <div class="menu-item-content">
                            <div class="menu-img">
                                <img src="~/images_icon/menu/list_menu/mn3.jpg" alt="">
                            </div>
                            <div class="menu-info">
                                <h5>Cappuccino</h5>
                                <p class="margin-btm pcolor">
                                    Origin from Italy, standard will consist of 3 parts
                                </p>
                            </div>
                        </div>
                        <div class="menu-price">$50.25</div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="menu-item">
                        <div class="menu-item-content">
                            <div class="menu-img">
                                <img src="~/images_icon/menu/list_menu/mn4.jpg" alt="">
                            </div>
                            <div class="menu-info">
                                <h5>Coffee Latte</h5>
                                <p class="margin-btm pcolor">Cafe Latte simply understands coffee and milk</p>
                            </div>
                        </div>
                        <div class="menu-price">$50.25</div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="menu-item">
                        <div class="menu-item-content">
                            <div class="menu-img">
                                <img src="~/images_icon/menu/list_menu/mn5.jpg" alt="">
                            </div>
                            <div class="menu-info">
                                <h5>Coffee Mocha</h5>
                                <p class="margin-btm pcolor">Americano is diluted with the amount of water</p>
                            </div>
                        </div>
                        <div class="menu-price">$50.25</div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="menu-item">
                        <div class="menu-item-content">
                            <div class="menu-img">
                                <img src="~/images_icon/menu/list_menu/mn6.jpg" alt="">
                            </div>
                            <div class="menu-info">
                                <h5>Americano</h5>
                                <p class="margin-btm pcolor">
                                    Similar to espresso, served with fresh milk cream
                                </p>
                            </div>
                        </div>
                        <div class="menu-price">$50.25</div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="menu-item">
                        <div class="menu-item-content">
                            <div class="menu-img">
                                <img src="~/images_icon/menu/list_menu/mn7.jpg" alt="">
                            </div>
                            <div class="menu-info">
                                <h5>Espresso Con Panna</h5>
                                <p class="margin-btm pcolor">An espresso contained in Cappuccino</p>
                            </div>
                        </div>
                        <div class="menu-price">$50.25</div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="menu-item">
                        <div class="menu-item-content">
                            <div class="menu-img">
                                <img src="~/images_icon/menu/list_menu/mn8.jpg" alt="">
                            </div>
                            <div class="menu-info">
                                <h5>Cappuccino Viennese</h5>
                                <p class="margin-btm pcolor">Fresh milk with vanilla flavored</p>
                            </div>
                        </div>
                        <div class="menu-price">$50.25</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>